$hi: 'Hello World!'
$font-size: 12px

@mixin my-font-style($size, $color: black)
  color: $color
  font-size: $size

body
  @include my-font-style($font-size, lightgreen)

.content::after
  @include my-font-style(30px)
  content: $hi

h1
  font-size: $font-size * 5

h2
  font-size: $font-size * 4

h3
  font-size: $font-size * 3

h4
  font-size: $font-size * 2

h5
  font-size: $font-size * 1.5

h6
  font-size: $font-size * 1.3

.main-content
  background-color: lightgray
  color: black
  font-size: $font-size * .9
  width: 500px

  .notice
    color: red

%base-footer
  color: green

.footer1
  @extend %base-footer
  background-color: lightblue

.footer2
  @extend .footer1
  font-size: $font-size * 2

